nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-family: monospace;
}

header {
  background-color: #068994;
  position: fixed;
  width: 1000px;
}

.navigation {
  background-color: #43F1FF;
}

.navigation a {
  color: #000000;
}

@font-face {
  font-family: 'Richardson Brand Accelerator';
  src: url('Windows\Fonts\Richardson Brand Accelerator Regular.otf');
}

header h1 {
  color: #FFFF45;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
  font-family: Richardson Brand Accelerator, Georgia, serif;
}

h2, h3 {
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
  font-family: Richardson Brand Accelerator, Georgia, serif;
}

.Projects-card a {
  color: #000000;
  text-decoration: none;
}

.Projects-card a:hover {
  color: #FFFF45;
  text-decoration: underline;
}

.CV-card a {
  color: #000000;
  text-decoration: none;
}

.CV-card a:hover {
  color: #FFFF45;
  text-decoration: underline;
}

.Contact-Details-card a {
  color: #000000;
  text-decoration: none;
}

.Contact-Details-card a:hover {
  color: #FFFF45;
  text-decoration: underline;
}

.navigation a:hover {
  color: #43F1FF;
  background-color: #000000;
}

p1, p2, p3, p4, p5, p6, p7, li, td {
  font-family: monospace;
}

.white-container {
  background-color: #FFFFFF;
  font-family: monospace;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: #068994;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-alignment {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.Projects-card {
  background-color: #FFFFFF;
  display:flex;
  flex-direction: column;
  width: 240px;
  height: 350px;
  padding: 10px;
  text-decoration: none;
}

.CV-card {
  background-color: #FFFFFF;
  display:flex;
  flex-direction: column;
  width: 240px;
  height: 350px;
  padding: 10px;
  text-decoration: none;
}

.Contact-Details-card {
  background-color: #FFFFFF;
  display:flex;
  flex-direction: column;
  width: 240px;
  height: 350px;
  padding: 10px;
  text-decoration: none;
}

.top-row {
  background-color: #068994;
  color: #FFFF45;
}

.top-row, td {
  font-weight:200;
}

.odd-number-row {
  background-color: #43F1FF;
}

.bitAtTheTop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 470px;
}

.profile-achievements-container {
background-color: #FFFFFF;
  display:flex;
  flex-direction: column;
  width: 450px;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px
}

.all-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-page-container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px 10px;
}

.column-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

span {
  color: #000000;
}

span:hover {
  color: #FFFFFF;
}
